h2{
background-color: rgb(140, 184, 235);
}

.yama{
height:50vh;
/* background-color: rgb(76, 0, 255);     */
background-image: url(../img/yufuin.JPG);
}

thead{
    text-align:center;
}

.table_number{
    text-align:right;
}

